.jodit-container:not(.jodit_inline) .jodit-workplace {
  height: 250px !important;
}

.jodit_theme_dark .jodit-toolbar__box:not(:empty) {
  background: #181818 !important;
}

.jodit_theme_dark .jodit-toolbar__box:not(:empty) {
  background: #181818 !important;
}

.jodit_theme_dark .jodit-wysiwyg {
  background-color: #181818 !important;
  color: #eee !important;
}

.jodit_theme_dark .jodit-workplace + .jodit-status-bar:not(:empty) {
  background-color: #181818 !important;
  border-color: #777 !important;
}

.jodit_theme_dark.jodit-container {
  background-color: #181818 !important;
  border-color: #777 !important;
}

.jodit-ui-group_line_true {
  border-top: 1px solid #777;
}

.container1 {
  color: white;
  z-index: 10000000000 !important;
}

.blogs-view {
  padding: 50px 0;
  width: 100%;
  background-color: #222;
  position: relative;
  z-index: 10000000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: white;
  background-image: url("../../assets/blog/bg-blog-1.webp");
}
.blogs-view::after {
  content: "";
  background: rgba(0, 0, 0, 0.57);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.blogs-view .container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  z-index: 100000;
}
.blogs-view .container .boxs {
  width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #303030;
  box-shadow: 0 0 5px rgba(17, 17, 17, 0.8), 0 0 5px #444;
  padding: 10px;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(10px);
  transition: 0.3s;
}
@media (max-width: 900px) {
  .blogs-view .container .boxs {
    width: 600px;
  }
}
@media (max-width: 650px) {
  .blogs-view .container .boxs {
    width: 400px;
    flex-direction: column;
    height: 260px;
  }
  .blogs-view .container .boxs .coverImg {
    width: 100% !important;
    height: 180px !important;
    margin-right: 0 !important;
  }
  .blogs-view .container .boxs .coverImg img {
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }
  .blogs-view .container .boxs .h2 {
    margin: 5px 0 !important;
  }
}
@media (max-width: 450px) {
  .blogs-view .container .boxs {
    width: 300px;
  }
}
.blogs-view .container .boxs .coverImg {
  width: 100px;
  height: 100%;
  margin-right: 30px;
}
.blogs-view .container .boxs .coverImg img {
  width: 70px;
  height: 70px;
  -o-object-fit: fill;
     object-fit: fill;
}
.blogs-view .container .boxs .h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  text-transform: capitalize;
  margin-right: 30px;
  font-size: 18px;
  color: white;
}
.blogs-view .container .boxs ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.blogs-view .container .boxs .btn {
  width: -moz-fit-content;
  width: fit-content;
  background: var(--alt-alt-main);
  padding: 5px;
  color: white !important;
  font-family: "Noto Sans";
  font-size: 14px;
}
.blogs-view .container .boxs .btn.btn-edite {
  background-color: #007bff;
}
.blogs-view .container .boxs .btn.btn-delete {
  background-color: #dc3545;
}

.Toastify {
  z-index: 10000000000000000000000000000000000000000000000000000000000000;
  position: relative;
}

.LoadingAnimate {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.LoadingAnimate .load-wrapp {
  float: left;
  width: 100px;
  height: 100%;
}
.LoadingAnimate .line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: white;
  margin-right: 10px;
}
.LoadingAnimate .load-3 .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}
.LoadingAnimate .load-3 .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}
.LoadingAnimate .load-3 .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}
@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.Dashboard-blog {
  background: var(--second-bg);
  color: white;
}
.Dashboard-blog .Navbar1 {
  min-height: 0 !important;
}
.Dashboard-blog .create-post {
  padding-top: 90px;
  min-height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: white;
  background-image: url("../../assets/blog/bg-blog-1.webp");
}
.Dashboard-blog .create-post::after {
  content: "";
  background: rgba(11, 11, 11, 0.23);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.Dashboard-blog .create-post .container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 83px);
  justify-content: center;
}
.Dashboard-blog .create-post .container form {
  width: 600px;
  margin: auto;
  transition: 0.3s;
}
@media (max-width: 650px) {
  .Dashboard-blog .create-post .container form {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .Dashboard-blog .create-post .container form {
    width: 300px;
  }
}
.Dashboard-blog .create-post .container input, .Dashboard-blog .create-post .container select, .Dashboard-blog .create-post .container .error-message {
  font-family: "Overlock", Arial;
  width: 100%;
  padding: 10px;
  color: white;
  font-weight: normal;
  font-size: 18px;
  background-color: #141414;
  border: 1px solid #a8a8a8;
  margin-bottom: 15px;
  border-radius: 0;
}
.Dashboard-blog .create-post .container input::-moz-placeholder, .Dashboard-blog .create-post .container select::-moz-placeholder, .Dashboard-blog .create-post .container .error-message::-moz-placeholder {
  color: white;
}
.Dashboard-blog .create-post .container input::placeholder, .Dashboard-blog .create-post .container select::placeholder, .Dashboard-blog .create-post .container .error-message::placeholder {
  color: white;
}
.Dashboard-blog .create-post .container input.error-message, .Dashboard-blog .create-post .container select.error-message, .Dashboard-blog .create-post .container .error-message.error-message {
  border-radius: 0;
  background: rgba(246, 48, 48, 0.6509803922);
  margin-bottom: 10px;
  display: none;
}
.Dashboard-blog .create-post .container .ql-editor {
  height: 250px;
}
.Dashboard-blog .create-post .container .ql-editor::before {
  color: white;
  font-size: 18px;
  font-weight: normal;
}
.Dashboard-blog .create-post .container .bt {
  margin: 10px 0;
  width: 100%;
  background: rgba(220, 188, 67, 0.3803921569);
  font-family: "Noto Sans";
  border-radius: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 40px;
}
.Dashboard-blog .show-blog {
  position: fixed;
  left: 20px;
  z-index: 10000000000000000000000000000000000;
  width: 40px;
  height: 40px;
  background: var(--text-color);
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  top: 90px;
}
.Dashboard-blog .phead {
  width: -moz-fit-content !important;
  width: fit-content !important;
  left: 70px !important;
  background: transparent !important;
  box-shadow: none !important;
}

.show-blog {
  position: fixed;
  left: 20px;
  z-index: 10000000000000000000000000000000000;
  width: 40px;
  height: 40px;
  background: var(--text-color);
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  top: 20px;
  color: white;
  font-size: 20px;
  box-shadow: 0 0 5px var(--text-color), inset 0 0 5px var(--text-color);
  cursor: pointer;
}

.overlay-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(24, 24, 24, 0.4196078431);
  z-index: 1000000;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.overlay-modal .modal {
  position: absolute;
  z-index: 1000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
  background: #121212;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-shadow: 0 0 100px #333, inset 0 0 5px #333;
}
.overlay-modal .modal .close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
}
.overlay-modal .modal .p {
  font-size: 20px;
}
.overlay-modal .modal .action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.overlay-modal .modal .action p {
  width: 100%;
  background: #191919;
  text-align: center;
  padding: 8px;
  margin-top: 20px;
  cursor: pointer;
}
.overlay-modal .modal .action p.btn-delete {
  background-color: #dc3545;
}

.loading .load {
  border: 1px solid #ECF0F1;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(135deg);
  /*change these sizes to fit into your project*/
  width: 50px;
  height: 50px;
}
.loading .load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}
.loading .load :first-child {
  background: #19A68C;
  animation-delay: -1.5s;
}
.loading .load :nth-child(2) {
  background: #F63D3A;
  animation-delay: -1s;
}
.loading .load :nth-child(3) {
  background: #FDA543;
  animation-delay: -0.5s;
}
.loading .load :last-child {
  background: #193B48;
}
@keyframes spin {
  0%, 100% {
    transform: translateX(200%);
  }
  25% {
    transform: translateY(200%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=blog.css.map */