.pattern1{
  position: absolute;
  .next-arrow , .back-arrow{display: none;}
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &::after{
    content: "";
    position: absolute;
    background:rgb(0, 0, 0) ;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    opacity: .81;
  }

  .screen0{
    .pattern1::after {
      content: "";
      position: absolute;
      background: rgb(0, 0, 0);
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0;
      opacity: 0.75;
  }
  }


  

.screens {
  margin: 0;
  padding: 0;
  
  > .screen {
    position: relative;
    border-bottom: 1px solid black;
    width: 100%;
    height: 100vh;
    list-style-type: none;
    display: block;    
  }
}

// Animations
@keyframes gradient-animation-1 { 
  0%{ left: 0%; }
  50%{ left: -100%; }
  100%{ left: 0%; }
}

@keyframes gradient-animation-2 { 
  0%{ right: 0%; }
  50%{ right: -100%; }
  100%{ right: 0%; }
}

// Red Circles
.screen0 {
  background-image: radial-gradient(circle at center center, var(--alt-alt-main), var(--second)), repeating-radial-gradient(circle at center center, var(--alt-alt-main), black, 1rem, transparent 2rem, transparent 1rem);
    background-blend-mode: multiply;
  &:before {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 200%;
    height: 100%;
    background: 
      repeating-linear-gradient(
        45deg, 
        transparent,
        transparent 1px, 
        rgba(0, 0, 0, .1) 1px, 
        rgba(255,255,255, .05) 5px
      );
    // animation: gradient-animation-1 120s ease infinite;
  }
  
  &:after {
    content: '';
    position: absolute;
    width: 200%;
    height: 100%;
    right: 0;
    top: 0;
    background: 
      repeating-linear-gradient(
        -45deg, transparent,
        transparent 1px, 
        rgba(0, 0, 0, .1) 1px, 
        rgba(255,255,255, .05) 5px
      );
    // animation: gradient-animation-2 120s ease infinite;
  }   
}

.screens{height: 100% !important; .screen{height: 100% !important;}}
// Green angled stripes
.screen1 {
  background-image: radial-gradient(
    ellipse at center, 
    rgba(0,50,50,1) 0%, 
    rgba(0,0,0,1) 100%);
  
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: 
      repeating-linear-gradient(
        -45deg, transparent,
        transparent 1px, 
        rgba(0, 0, 0, .3) 1px, 
        rgba(255,255,255, .1) 10px
      );
  }   
}

// Blue angled stripes
.screen2 {
  background-image: radial-gradient(
    ellipse at center, 
    var(--alt-alt-main) 20%, 
    var(--second) 80%
  );
  
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: 
      repeating-linear-gradient(
        45deg, transparent,
        transparent 1px, 
        rgba(0, 0, 0, .8) 10px, 
        rgba(255,255,255, 1) 10px
      );
  }   
}

// Red Cross-hatch gradients
.screen3 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(
    ellipse at center, 
    var(--alt-alt-main) 20%, 
    // var(--alt-alt-main) 100%, 
    (--third-bg) 80%);  

  &:before {
    content: '';
    left: 0;
    position: absolute;
    width: 200%;
    height: 100%;
    background: 
      repeating-linear-gradient(
        45deg, 
        transparent,
        transparent 1px, 
        rgba(0, 0, 0, .2) 1px, 
        rgba(255,255,255, .1) 10px
      );
    // animation: gradient-animation-1 120s ease infinite;
  }
  
  &:after {
    content: '';
    position: absolute;
    width: 200%;
    height: 100%;
    right: 0;
    background: 
      repeating-linear-gradient(
        -45deg, transparent,
        transparent 1px, 
        rgba(0, 0, 0, .2) 1px, 
        #dcbc433d  10px
      );
    // animation: gradient-animation-2 120s ease infinite;
  }  
}

.screen4 {
  background-color: DarkSlateGray;
}

.screen5 {
  background-color: Silver;
}

.screen6 {
  background-color: LightSlateGray;    
}

.screen7 {
  background-color: BurlyWood;
}

.screen8 {
  background-color: Bisque;
}

.screen9 {
  background-color: Wheat;    
}
}

.circle {
  position: absolute;
  --w: 350px ;
  width: var(--w); 
  height: var(--w); 
  // background-image: radial-gradient(at 82% 17%, hsl(217deg 7.71% 4.2%) 0px, transparent 50%), radial-gradient(at 35% 2%, hsl(211deg 2.63% 5.78%) 0px, transparent 50%), radial-gradient(at 21% 51%, hsl(0deg 0.46% 10.08%) 0px, transparent 50%), radial-gradient(at 78% 100%, hsl(37deg 21.5% 16.4%) 0px, transparent 50%), radial-gradient(at 73% 43%, hsl(228, 26.51%, 22.39%) 0px, transparent 50%);
  backdrop-filter: blur(0.8);
  left: -100px;
    top: 119px;
    z-index: 0;
    border-radius: 50%;
    box-shadow: 0 0 50px #000, inset 0 0 50px #000;
    display: flex;
    align-items: center;
    justify-content: center;

  span:nth-child(1){
    width: 430px;
    height: 430px;
    position: absolute;
    display: block;
    border-radius: 50%;
    border: 10px dotted #312b11;
    border-radius: 50%;
    border-width: 8px 7px 6px 5px;
  }
  span:nth-child(2) {
    width: 470px;
    height: 470px;
    position: absolute;
    display: block;
    border-radius: 50%;
    border: 10px dotted #312b11;
    border-radius: 50%;
    border-width: 10px 9px 8px 6px;
}
  span:nth-child(3){
    width: 510px;
    height: 510px;
    position: absolute;
    display: block;
    border-radius: 50%;
    border:  dotted #312b11;
    border-radius: 50%;
    border-width: 10px 9px 8px 6px;
  }
  span:nth-child(4){
    width: 550px;
    height: 550px;
    position: absolute;
    display: block;
    border-radius: 50%;
    border: 10px dotted #312b11;
    border-radius: 50%;
    border-width: 10px 9px 8px 6px;
  }

}

.Pattern6{
  position: absolute;
  height: 100%;
  width: 100%;
  // background-color: red;
  top: 0;
  left: 100%;
  transform: translateX(-600px);
  z-index: 10;
  .line{
    width: 600px;
    height: 200px;
    background-color: white;
    display: flex; align-items: center; justify-content: flex-end;
    --bacground:var(--third-bg) ;
    --box-shadow : 0 0 50px red inset ;
    span:nth-child(1){
      width: 100px;
      height: 100%;
      display: block;
      position: relative;
      &::before{
        clip-path: polygon(100% 0, 100% 100%, 0 64%);
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--bacground);
        box-shadow: var((--box-shadow));
        top: 0;
        left: 0;
      }
      &::after{
        clip-path: polygon(100% 0, 0 0, 0 64%);
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--bacground);
        box-shadow: var((--box-shadow));
        top: 0;
        left: 0;
      }
    }
    
  }
}

.editorial {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index:5;
  bottom:0;
  position:absolute;
  left:0px;
  float:left;
}

.parallax1 > use {
  animation: move-forever1 10s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax3 > use {
  animation: move-forever3 6s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax4 > use {
  animation: move-forever4 4s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}




.divider-left{
  position: relative;
  display: grid; 
  --bg: linear-gradient(to right,#1f1c14, #5b5b5b ) ;
  --bg-left: linear-gradient(to left,#1f1c14, #5b5b5b) ;
  .separator{
    width: calc(30% - 20px);
    height: 20px;
    background: var(--bg-left) ;
    top: 0;
    right: 0;
    position: absolute;
    display: block;
    z-index: 1000;
    display: flex; align-items: center;

    h4{
      background: var(--bg-left) ;    }
    h4:nth-child(1){
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      left: -30px;
      top: 0;
    }
    h4:nth-child(2){
      width: 18px;
      height: 18px;
      border-radius: 50%;
      position: absolute;
      left: -50px;
      top: 50%;
      transform: translateY(-50%);
    }
    h4:nth-child(3){
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      left: -70px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .other{
    width:calc( 70% - 125px);
    margin-right: calc( 30% + 125px);
    height: 20px;
    background: var(--bg) ;    
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    z-index: 1000;
    display: flex; align-items: center;
    h4{
      background: var(--bg) ;    }
    h4:nth-child(1){
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      right: -30px;
      top: 0;
    }
    h4:nth-child(2){
      width: 18px;
      height: 18px;
      border-radius: 50%;
      position: absolute;
      right: -50px;
      top: 50%;
      transform: translateY(-50%);
    }
    h4:nth-child(3){
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      right: -70px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.divider{
  position: relative;
  .separator{
    width: calc(30% - 20px);
    height: 20px;
    background: linear-gradient(to right , var(--alt-alt-main) , var(--second) );
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    z-index: 1000;
    display: flex; align-items: center;

    h4{
      background: linear-gradient(to right , transparent , var(--alt-alt-main) , var(--second));
    }
    h4:nth-child(1){
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      right: -30px;
      top: 0;
    }
    h4:nth-child(2){
      width: 18px;
      height: 18px;
      border-radius: 50%;
      position: absolute;
      right: -50px;
      top: 50%;
      transform: translateY(-50%);
    }
    h4:nth-child(3){
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      right: -70px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .other{
    width:calc( 70% - 125px);
    margin-left: calc( 30% + 125px);
    height: 20px;
    background: linear-gradient(to left ,  var(--alt-alt-main) , var(--second) );
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    z-index: 1000;
    display: flex; align-items: center;
    h4{
      background: linear-gradient(to right , transparent , var(--alt-alt-main) , var(--second));
    }
    h4:nth-child(1){
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      left: -30px;
      top: 0;
    }
    h4:nth-child(2){
      width: 18px;
      height: 18px;
      border-radius: 50%;
      position: absolute;
      left: -50px;
      top: 50%;
      transform: translateY(-50%);
    }
    h4:nth-child(3){
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      left: -70px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}